.form .form .fields { padding-top: 20px; width:500px; margin:auto; } 
.form fieldset { border: 0; border-top: 1px solid #ccc; padding: 10px 10px; margin-bottom: 10px; }
.form fieldset legend { font-weight: bold; font-size: 110%; padding: 5px; margin-left: -5px; color: #666; }
.form .row { margin-bottom: 5px; }
.form .field-inner { margin-left: 150px; line-height: 30px; }
.form .field-inner label,
.form .required-field .field-inner label { float: none; display: inline; font-weight: normal; }
.form label { width: 100px; margin-top: 7px; margin-right:10px; font-size: 95%; line-height: 1.5; display:block; }
.form .required-field label { font-weight: bold; }
.form input[type="text"],
.form input[type="password"],
/*
.form input[type="checkbox"],
.form input[type="radio"],
*/
.form select,
.form textarea {  width:180px; border: 1px solid #ddd; border-color: #aaa #ddd #ddd #aaa; background: #f9f9f9; padding: 5px 3px; vertical-align: middle; }
/*
.form input[type="checkbox"],
.form input[type="radio"] { margin-top:8px; }
*/
.form input:focus,
.form select:focus,
.form textarea:focus { border: 1px solid #ccc; background: white; }
.form .important input,
.form .important select { font-size: 110%; }
.form input[type="submit"] { font-size:14px; margin-top:20px; padding-left:20px; padding-right:20px; }
.form .explanatory { font-size: 85%; color: #666; margin-top: 5px; line-height: 15px; }
.form .field-with-label { position: relative; margin-bottom: 5px; }
.form .field-with-label label { position: absolute; top: 0; left: 0; color: #777; margin: 3px 6px; cursor: text; width: auto; }
.form .field-with-label input,
.form .field-with-label textarea { display: block; padding: 4px; margin: 0; }
.form input.error { background:#FFE7CE; }

.errorSummary { background:#FFE7CE; padding:10px 20px; border-bottom:1px solid #ccc; }
.errorMessage { padding:10px 0 4px 0; color: #B03831; margin-left:120px; }

.hasDatepicker { background-image: url('../images/icons/calendar.png'); background-repeat: no-repeat; background-position: top right; }

input { padding:4px; border:1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; }