/*
http://jqueryui.com/themeroller/#ffDefault=Segoe+UI%2C+Helvetica%2C+Arial%2C+sans-serif&fwDefault=normal&fsDefault=12px&cornerRadius=2px&bgColorHeader=dddddd&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=50&borderColorHeader=dddddd&fcHeader=444444&iconColorHeader=333333&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=dddddd&fcContent=444444&iconColorContent=333333&bgColorDefault=f5f5f5&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=100&borderColorDefault=dddddd&fcDefault=333333&iconColorDefault=666666&bgColorHover=f0f0f0&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=100&borderColorHover=cccccc&fcHover=000000&iconColorHover=333333&bgColorActive=cccccc&bgTextureActive=05_inset_soft.png&bgImgOpacityActive=65&borderColorActive=dddddd&fcActive=000&iconColorActive=454545&bgColorHighlight=ffffff&bgTextureHighlight=04_highlight_hard.png&bgImgOpacityHighlight=55&borderColorHighlight=cccccc&fcHighlight=444444&iconColorHighlight=333333&bgColorError=ffffff&bgTextureError=01_flat.png&bgImgOpacityError=55&borderColorError=ff0084&fcError=222222&iconColorError=ff0084&bgColorOverlay=eeeeee&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
*/

/*common*/
body { font-family:"Segoe UI", "Trebuchet MS", Arial, sans-serif; font-size:12px; margin:0; padding:0; /*background-color:#f7f7f7;*/ }
html { /*background-color:#f7f7f7;*/ margin:0; padding:0; }
h1, h2, h3, h4 { font-family:'Josefin Sans Std Light'; font-weight:normal; margin-bottom:5px; }
h1 { font-size: 32px; }
h2 { font-size: 24px; }
.funky { border-top:18px solid #38828C; background-color:#38828C; color:white; text-align:right; }
.center { text-align:center; }
.gray { color:#aaa; }
.lightGray { color:#ddd; }
div.info { border:6px solid #eee; color: #777; padding:10px 20px 0 20px; }
div.info button { font-size:9px; }
.flashMessage { margin-left:auto; margin-right:auto; width:80%; padding:4px 0 6px 0; margin:8px; background-color:#8AED72; font-size:14px; font-weight:bold; text-align:center; }
.heart { font-size:17px; }
.clearfloats { clear:both; }

table { width:auto; }
th, td { border:none; }
:link:focus, :visited:focus { outline-style: none; }
.main-ajax-loader { display:none; background-image:url('../images/ajax-loader.gif'); width:24px; height:24px; margin-left:260px; margin-top:-38px; }
/*options menu*/
.optionsMenu { position:absolute; display:none; z-index:1; -webkit-box-shadow: 1px 1px 6px #333; -moz-box-shadow: 1px 1px 6px #333; }
.optionsMenu ul { list-style: none; margin:0; padding:0;}
.optionsMenu li { list-style: none; }
.optionsMenu li a { text-align:left; border:none; border-top:1px solid #ddd; }

/*layout*/
div.white { background-color:white; }
div.container { padding-top:20px; padding-bottom:10px; width:920px; margin:auto; }

/* top bar */
div#topbar { height: 36px; background-color:white; }
div.mainmenu { height:26px; float:right; margin-top:8px; color:#555; }
div.mainmenu a, div.mainmenu span { text-decoration:none; color:#555; display:block; padding:2px 4px; }
div.mainmenu li { display:block; float:left; margin:4px 0; }
div.mainmenu ul { margin:2px 12px; }
div#logo { font-family:'Yanone Kaffeesatz'; font-size: 36px; }

/* footer */
div#footer { color:#aaa; margin:50px 0 14px 0; text-align:center; }
div#footer a { color:#aaa; }
div.addthis { width:140px; margin:0 auto }
div#copyright { margin-bottom:10px; }


/*PAGES*/
/* intro page */
.loginContainer { float:right; margin-right:34px; }
.buttonContainer { width:200px; margin:10px auto; padding:50px 0; }
.descriptionContainer img { border:1px solid #eee; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);}
.descriptionContainer { text-align:center; }
.descriptionContainer h1 { color:#38828C;}
.descriptionContainer p { font-size:13px; line-height:200%; text-align:justify; margin:20px; padding:30px 20px; }
#introContainer { margin-bottom:70px; padding: .2em; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 1px solid #dddddd; }
#introContainer .bg { padding:10px; background:url('../images/bg_gray.jpg') center center; }
/*secondary layout*/
#secondaryContainer .left { width: 560px; border-right:1px solid #ddd; }
#secondaryContainer { padding: .2em; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 1px solid #dddddd; }
#secondaryContainer .bg { padding:10px 20px; background:url('../images/bg_gray.jpg') center center; }
#secondaryContainer .form .fields { width:200px; margin:auto; }

/*login form*/
#loginForm label { color:#888; font-size:12px; font-weight:normal; margin-bottom:0; padding-bottom:0; }
#YumUserLogin_email { font-size:12px; width:200px; padding:6px; margin-bottom:0; margin-top:2px; }
#YumUserLogin_password { font-size:12px; width:200px; padding:6px; margin-bottom:0; margin-top:2px; }
#loginForm .submit { font-size:16px; float:left; }
#loginForm .lost { margin:24px 24px 24px 132px; }

/*RANDOM*/
/*error messages destroy layout otherwise*/
div.form .errorMessage { position:absolute; }

.awesomeButton {
	background: #222 url(../images/overlay-button.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-size:14px;
	padding: 8px 19px 9px;
	display:block;
	margin:14px;
	text-align:center;
}

.registerButton { background-color: #ff5c00; }

#label_showpassword { position:absolute; margin-left:216px; margin-top:-22px; }
#showpassword { position:absolute; margin-top:8px; margin-left:6px; }




#createAlert {
	width:300px;
	float:left;
	padding:20px;
}
#alertSchedule {
	width:400px;
	float:left;
	padding:20px;
}
#alertSchedule .list {
	
}

#createAlert input[type="text"] {
	font-size:24px;
	width:220px;
	padding:10px 5px;
}
#createAlert input[type="submit"] {
	font-size:24px;
	width:232px;
}
#JobQueue_phone { text-align:center; }
#JobQueue_time { text-align:center; }
#JobQueue__message { width: 224px; }